.App{
  display: flex;
  flex-direction: column;
  padding: 10px 40px ;
}
.Video {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.video-player {
  border:2px solid grey;
  border-radius:5px;
  background-color: rgb(63,62,62);
  width: 47.5%;
  height: auto;
}

.grey {
  border-radius: 16px;
  background-color: 	#d8d8d8;
  padding: 20px;
  width: 75%;
  color: #272343;
  word-break: break-all;
}

.ip {
  display: flex;
  border: none;
  border-radius: 16px;
  width:75%;
  background-color: 	#aeb9cc;
  padding: 40px;
  color: #272343;
  margin: 20px 0px 0px 0px;
}

.msg {
  padding: 20px;
  display: flex;
  flex-direction: row; 
  justify-content: flex-end; 
}

.msg-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttonBar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.but{
  padding: 15px;
  margin: 20px;
  font-size: medium;
  border: none;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.inv {
  background-color: #5783db;
  color: white;
}

.acp {
  color: #272343;
}
